venv/
__pycache__/
*.pyc
.DS_Store
wandb/
*.pyo
*.pyd
*.pyw
*.pyz
*.pywzvenv/
__pycache__/
*.pyc
.DS_Store
wandb/
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
scripts/wandb
scripts/results
efficient_reasoning/utils/tmp
